repos:
  - repo: https://github.com/PyCQA/autoflake
    rev: v1.7.8
    hooks:
      - id: autoflake
        args:
          - --in-place
          - --remove-all-unused-imports
          - --expand-star-imports
          - --remove-duplicate-keys
          - --remove-unused-variables
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.0.265"
    hooks:
      - id: ruff
        args:
          [
            "--fix",
            "--unfixable",
            "F401,E731",
            "--ignore",
            "E501",
            "--select",
            "F,E,W,I",
          ]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        args: [--py3-plus]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args: [--safe, --quiet]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-json
      - id: file-contents-sorter
        files: .custom.dic
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.6
    hooks:
      - id: prettier
        args: ["--config", ".prettierrc"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types_or: [python, pyi]
        args: ["--install-types", "--non-interactive", "--python-version", "3.12"]
        files: "^.*"
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: python
        types_or: [python, pyi]
        files: "^.*"
        args:
          [
            "-rn",
            "-sn",
            "--rcfile=.pylintrc",
            "--fail-on=I",
            "--load-plugins=pylint_pytest",
          ]
