{% for item in upcoming %}
  <li>
    <span class="up-date">{{ item.iteration_date | frdate }}</span>
    <span class="up-desc">
      {{ item.description }}
      {%- if item.postponed_from %}
      <span class="up-note">{{ _("postponed from {date}").format(date=item.postponed_from | frdate) }}</span>
      {%- endif %}
    </span>
    <span class="up-amount {{ 'positive' if item.amount > 0 else 'negative' }}">
      {{ item.amount | signed_eur(item.currency) }}
    </span>
  </li>
{% endfor %}
